@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fundo: #F5F5F5;
    --cards: #FFFFFF;
    --texto: #333333;
    --botão-principal: #4A90E2;
    --botão-completar: #2ECC71;
    --botão-excluir: #E74C3C;
}

body {
    font-family: "Inter", sans serif;
    background-color: var(--fundo);
}


header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    /*border: 1px solid red;*/
    margin: auto;
}

header > h1 {
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    color: var(--texto);
    margin: auto;
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}

button.add {
    width: 20%;
    cursor: pointer;
    background-color: var(--botão-principal);
    color: white;
    font-weight: bold;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 120px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
    /*border: 1px solid blue; */
    padding-top: 40px;
}

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--cards);
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
    cursor: pointer;
}


.card.checked {
    background-color: #d0fde3;
}

.card-icon {
    flex: 20%;
    /*border: 1px solid orangered;*/
    text-align: center;
    font-size: 2rem;
}

.card-name {
    flex: 55%;
    /*border: 1px solid deeppink;*/
    font-size: 1.3rem;
    font-weight: bold;
}
.card-button {
    flex: 25%;
    /*border: 1px solid green; */
}

.delete {
    background-color: var(--botão-excluir);
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
}

.card.checked .card-icon i {
    color: var(--botão-completar);
}

.card.checked > .card-name {
    text-decoration: line-through;
    color: gray;
}